h1 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: #6e81eb;
    margin-top: 20px;
}

form {
    position: relative;
    width: 40%;
    background-color: #19e2c7;
    text-align: center;
    margin: 24px auto;
    border-radius: 12px;
    box-shadow: 10px 10px 5px lightblue;

}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #146d20;
    font-size: 20px;
}

input[type="text"],
input[type="number"],

select {
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #4e1515;
    font-size: 20px;
    text-align: center;

}

.inp {
    background-color: rgb(111, 148, 180);
    padding: 6px;
    border: 2px dotted pink;
    margin: 6px;

}


button {
    margin-top: 1rem;
    width: 120px;
    height: 35px;
    background-color: #4e8a51;
    color: rgb(253, 251, 251);
    border: none;
    font-size: 16px;
    border-radius: 10px;
}

button:hover {
    background-color: #4e1515;
    cursor: pointer;
}


a {
    position: absolute;

    text-align: center;
    border-radius: 10px;
    background-color: yellow;
    text-decoration: none;
    color: #08470a;
    font-size: 16px;
    padding: 12px;

    right: 12px;
    bottom: 12px;

}

a:hover {
    color: rgb(20, 22, 8);
    background-color: red;
    cursor: pointer;

}


#result {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #2cada3;
    border-radius: 10px;
}

.comment {
    font-size: 1.5rem;

}

#info {
    font-size: 1rem;
    font-weight: bold;
    color: #08470a;
    background-color: #b2d8c2;
    border-radius: 10px;

}

#record {
    font-size: 32px;
    margin-top: 24px;
}

table {
    background-color: rgb(220, 255, 243);
    margin: 0 auto;
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
}

@media screen and (max-width:600px) {

    form {
        width: 80%
    }

    table {
        width: 400px;
    }
}